{% extends 'backend/index.html' %}
{% block content %}

<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-6">

    <div>
        <h2 class="text-2xl font-extrabold text-gray-800">
            Data Akun
        </h2>
    </div>

    <a href="{{ url_for('create_content') }}" class="mt-4 sm:mt-0 inline-flex items-center gap-2
            bg-blue-500 px-5 py-2.5 rounded-xl
            text-white font-semibold
            hover:bg-blue-600 hover:shadow-lg
            transition">
        <i class="fa fa-plus"></i>
        Tambah User
    </a>

</div>

<div class="datatable-container">
    <table id="dataTables" class="datatable">
        <thead>
            <tr>
                <th>No</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Aksi</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>

                <td class="p-3 flex justify-center gap-2">

                    <!-- DETAIL -->
                    <a href="{{ url_for('admin_edit_user', id=user.id) }}">
                        <button class="p-2 rounded-md bg-green-500 text-white">
                            <i class="fa fa-eye"></i>
                        </button>
                    </a>

                    <!-- EDIT -->
                    <a href="{{ url_for('admin_edit_user', id=user.id) }}">
                        <button class="p-2 rounded-md bg-blue-500 text-white">
                            <i class="fa fa-pen"></i>
                        </button>
                    </a>

                    <!-- DELETE -->
                    <form action="{{ url_for('admin_delete_user', id=user.id) }}" method="POST"
                        onsubmit="return confirm('Yakin hapus user ini?')">
                        <button class="p-2 rounded-md bg-red-500 text-white hover:bg-red-600">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}