body {
  font-family: 'Poppins', sans-serif;
}


.datatable-container {
  background: rgba(195, 230, 255, .6);
  backdrop-filter: blur(8px);
  padding: 1rem;
  border-radius: 12px;
  overflow-x: auto;
}

table.datatable {
  width: 100%;
  border-collapse: separate !important;
  border-spacing: 0 10px;
  font-size: 0.875rem;
}

table.datatable thead th {
  background: #e0f2fe;
  color: #1f2933;
  padding: 12px;
  font-weight: 600;
  text-align: center;
}

table.datatable tbody tr {
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .08);
  transition: background .2s ease;
}

table.datatable tbody tr:hover {
  background: rgba(59, 130, 246, .12);
}

table.datatable td {
  padding: 12px;
  vertical-align: middle;
}

.datatable-thumb {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 8px;
  margin: auto;
}

.datatable-action button {
  padding: 8px;
  border-radius: 8px;
}


.dt-thumb {
  background: #e5e7eb;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
  margin: 0 auto;
  display: block;
}

/* Desktop */
@media (min-width: 640px) {
  .dt-thumb {
    width: 56px;
    height: 56px;
  }
}

#imgModal img {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

#imgModal.flex img {
  transform: scale(1);
}


.reveal {
  opacity: 0;
  transform: translateY(32px);
  transition: all 0.9s ease;
}

.reveal-show {
  opacity: 1;
  transform: translateY(0);
}

.reveal-item {
  opacity: 0;
  transform: translateY(16px);
  transition: all 0.7s ease;
}

.item-show {
  opacity: 1;
  transform: translateY(0);
}
