<aside id="sidebar"
  class="w-56 bg-[radial-gradient(circle_at_center,_#36d7f3,_#0696ff)]
  backdrop-blur-xl min-h-screen border-r border-white/30 p-5
  fixed top-0 left-0 -translate-x-full sm:translate-x-0
  transition-transform duration-300 z-50 sm:static">

  <nav class="space-y-2 m-4">
    <a href="{{ url_for('dashboard') }}"
      class="block font-semibold px-4 py-2 -mx-5 rounded-md hover:bg-blue-500 hover:text-white transition">
      <i class="fa fa-user"></i> Profile
    </a>

    {% if role == 'admin' %}
    <a href="{{ url_for('dashboard_users') }}"
      class="block font-semibold px-4 py-2 -mx-5 rounded-md hover:bg-blue-500 hover:text-white transition">
      <i class="fa fa-users"></i> Kelola Akun
    </a>

    <a href="{{ url_for('dashboard_adm_content') }}"
      class="block font-semibold px-4 py-2 -mx-5 rounded-md hover:bg-blue-500 hover:text-white transition">
      <i class="fa fa-image"></i> Semua Konten
    </a>

    <a href="{{ url_for('dashboard_content') }}"
      class="block font-semibold px-4 py-2 -mx-5 rounded-md hover:bg-blue-500 hover:text-white transition">
      <i class="fa fa-image"></i> Konten Saya
    </a>
    {% endif %}

    {% if role == 'user' %}
    <a href="{{ url_for('dashboard_content') }}"
      class="block font-semibold px-4 py-2 -mx-5 rounded-md hover:bg-blue-500 hover:text-white transition">
      <i class="fa fa-image"></i> Konten Saya
    </a>
    {% endif %}

    <div class="mt-10">
      <a href="{{ url_for('logout') }}"
        class="block font-semibold px-4 py-2 -mx-5 rounded-md hover:bg-red-500 hover:text-white transition text-red-700 flex items-center gap-2">
        <i class="fa fa-sign-out-alt"></i> Logout
      </a>
    </div>

  </nav>
</aside>
