<aside id="sidebar" class="fixed top-16 left-0 z-50
         w-64 h-[calc(100vh-4rem)]
         bg-[radial-gradient(circle_at_center,_#36d7f3,_#0696ff)]
         backdrop-blur-xl border-r border-white/30
         p-5
         transform -translate-x-full sm:translate-x-0
         transition-transform duration-300 ease-in-out">


  <nav class="sm:mt-4 space-y-1 text-white ">

    <!-- PROFILE -->
    <a href="{{ url_for('dashboard') }}" class="flex items-center gap-3 px-4 py-3 rounded-xl
             hover:bg-white/20 transition font-semibold">
      <i class="fa fa-user"></i> Profile
    </a>

    {% if session ['role'] == 'admin' %}
    <a href="{{ url_for('admin_users') }}" class="flex items-center gap-3 px-4 py-3 rounded-xl
             hover:bg-white/20 transition font-semibold">
      <i class="fa fa-users"></i> Kelola Akun
    </a>

    <a href="{{ url_for('dashboard_content') }}" class="flex items-center gap-3 px-4 py-3 rounded-xl
             hover:bg-white/20 transition font-semibold">
      <i class="fa fa-image"></i> Semua Konten
    </a>

    <a href="{{ url_for('dashboard_content') }}" class="flex items-center gap-3 px-4 py-3 rounded-xl
             hover:bg-white/20 transition font-semibold">
      <i class="fa fa-folder-open"></i> Konten Saya
    </a>
    {% endif %}

    {% if session['role'] == 'user' %}
    <a href="{{ url_for('dashboard_content') }}" class="flex items-center gap-3 px-4 py-3 rounded-xl
             hover:bg-white/20 transition font-semibold">
      <i class="fa fa-folder-open"></i> Konten Saya
    </a>
    {% endif %}

    <!-- LOGOUT -->
    <div class="mt-10 border-t border-white/30 pt-4">
      <a href="{{ url_for('logout') }}" class="flex items-center gap-3 px-4 py-3 rounded-xl
               text-red-200 hover:bg-red-500 hover:text-white transition font-semibold">
        <i class="fa fa-sign-out-alt"></i> Logout
      </a>
    </div>

  </nav>
</aside>