{% extends 'backend/index.html' %}
{% block content %}
<h2 class="text-2xl font-semibold text-center mb-3">Konten Saya</h2>

<div class="flex justify-end mb-3">
    <a href="{{ url_for('create_content') }}"
        class="bg-blue-500 px-4 py-2 rounded-md text-white hover:bg-blue-600 transition">
        Upload Konten
    </a>
</div>

<!-- TABLE -->
<div class="datatable-container">
    <table id="dataTables" class="datatable">
        <thead>
            <tr>
                <th>No</th>
                <th>Thumbnail</th>
                <th>Judul Karya</th>
                <th>Publisher</th>
                <th>Waktu Dibuat</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>

            {% for img in images %}
            <tr>
                <td class="text-center">{{ loop.index }}</td>

                <td class="text-center">
                    <img src="{{ url_for('static', filename='assets/' ~ img.filename) }}"
                        onerror="this.src='/static/img/placeholder.png'" class="dt-thumb mx-auto" alt="Thumbnail">
                </td>

                <td>{{ img.title }}</td>
                <td>{{ session.username }}</td>
                <td>{{ img.created_at.strftime('%d-%m-%Y') if img.created_at else '-' }}</td>

                <td class="p-3 flex justify-center gap-2">

                    <!-- DETAIL -->
                    <a href="{{ url_for('dashboard_content_detail', id=img.id) }}">
                        <button class="p-2 rounded-md bg-green-500 text-white hover:bg-green-600">
                            <i class="fa fa-eye"></i>
                        </button>
                    </a>

                    <!-- EDIT -->
                    <a href="{{ url_for('update_content', id=img.id) }}">
                        <button class="p-2 rounded-md bg-blue-500 text-white hover:bg-blue-600">
                            <i class="fa fa-pen"></i>
                        </button>
                    </a>

                    <!-- DELETE -->
                    <a href="{{ url_for('delete_content', id=img.id) }}"
                        onclick="return confirm('Yakin hapus konten ini?')">
                        <button class="p-2 rounded-md bg-red-500 text-white hover:bg-red-600">
                            <i class="fa fa-trash"></i>
                        </button>
                    </a>

                </td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>
{% endblock %}