{% extends 'backend/index.html' %}
{% block content %}

<section class="max-w-5xl mx-auto">

  <!-- HEADER -->
  <div class="mb-8 text-center">
    <span class="inline-block mb-2 px-4 py-1 text-sm font-semibold
                 rounded-full bg-yellow-100 text-yellow-700">
      ✏️ Edit Content
    </span>
    <h2 class="text-2xl font-extrabold text-gray-800">
      Update Konten
    </h2>
    <p class="text-sm text-gray-500 mt-1">
      Perbarui informasi dan tampilan karya
    </p>
  </div>

  <!-- CARD -->
  <div class="bg-white/70 backdrop-blur-md
              border border-yellow-100
              rounded-3xl shadow-xl
              p-8 grid grid-cols-1 md:grid-cols-2 gap-8">

    <!-- IMAGE PREVIEW -->
    <div class="flex flex-col items-center gap-4">
      <img id="preview" src="{{ url_for('static', filename='assets/' ~ image.filename) }}"
        class="w-full max-w-md rounded-2xl shadow-lg object-cover">
    </div>

    <!-- FORM -->
    <form action="{{ url_for('update_content', id=image.id ) }}" method="POST" enctype="multipart/form-data"
      class="space-y-4">
      <div>
        <label class="w-full">
          <span class="block text-sm text-gray-600 mb-1">Ganti Gambar</span>
          <input type="file" name="gambar_karya" accept="image/*" class="w-full p-2 rounded border border-gray-300
                      focus:outline-none focus:ring-2 focus:ring-yellow-500"  onchange="previewImage(event)">
        </label>
      </div>
      <div>
        <label class="block text-sm text-gray-600 mb-1">Judul Karya</label>
        <input type="text" name="judul" value="{{ image.title }}" class="w-full p-2 rounded border border-gray-300
                      focus:ring-2 focus:ring-yellow-500">
      </div>

      <div>
        <label class="block text-sm text-gray-600 mb-1">Kategori</label>
        <select name="kategori" class="w-full p-2 rounded border border-gray-300
                       focus:ring-2 focus:ring-yellow-500">
          <option value="abstrak" selected>Abstrak</option>
          <option value="nature">Nature</option>
          <option value="kaligrafi">Kaligrafi</option>
        </select>
      </div>

      <div>
        <label class="block text-sm text-gray-600 mb-1">Deskripsi</label>
        <textarea name="deskripsi" class="w-full h-52 p-3 rounded border border-gray-300
                         focus:ring-2 focus:ring-yellow-500">{{ image.description }}</textarea>
      </div>

      <!-- ACTION -->
      <div class="flex justify-end gap-4 pt-4">
        <a href="{{ url_for('dashboard_content') }}" class="px-6 py-2 rounded-xl
                  bg-gray-200 hover:bg-gray-300 transition">
          Batal
        </a>

        <button type="submit" class="px-6 py-2 rounded-xl
                       bg-blue-500 text-white
                       hover:bg-blue-600 transition">
          Update
        </button>
      </div>

    </form>
  </div>

</section>
{% endblock %}